.Elevator {
  position: relative;
}

.Elevator img {
  height: 150px;
}

.Elevator__button {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 10px;
  width: 14px;
  height: 20px;
  background: linear-gradient(to right, #e7e7e7, #979797);
  text-align: center;
}
