.ElevatorPanel {
  position: fixed;
  top: 40px;
  right: 0;
  margin: 10px;
  background: linear-gradient(to right, #e7e7e7, #979797);
  width: 100px;
  min-height: 150px;
  background-color: #fff;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 10px;
}

.ElevatorPanel__floor {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.number {
  width: 10px;
  text-align: center;
}

.number p {
  margin: 0;
  font-size: 10px;
  line-height: 10px;
}
