.Indicator {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 3px;
}

.Indicator__number {
    font-size: 9px;
    margin: 0;
}

.Indicator__circle {
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background-color: #5bc277;
    margin: 0 auto;
}

.Indicator__circle_active {
    background-color: #ee4e4e;
}
