.Indicator {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin: 3px;
}

.Indicator__lotFloors {
    width: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px 2px;
    text-align: center;
    margin-bottom: 5px;
}

.Indicator .Indicator__number {
    font-size: 8px;
    margin: 0;
}

.Indicator__lotFloors .Indicator__number {
    font-size: 7px;
    margin: 0;
}

.Indicator__circle {
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background-color: #5bc277;
    margin: 0 auto;
}

.Indicator__circle_active {
    background-color: #ee4e4e;
}
